body {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.form {
  margin-top: 0.2em;
}

.form > #nameInput,
.form > #messageInput,
.form > #sendButton {
  margin-bottom: 1em;
}

.name {
    font-weight: bold;
    font-size: 16px;
    padding-right: 10px;
}

.message {
    font-size: 13px;
}
