body {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.form {
  margin-top: 0.5em;
}

.form #nameInput,
.form #messageInput,
.form #sendButton {
  margin-bottom: 1em;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 1em;
}

.message {
    font-size: 1em;
}
